<form action="<%= tracks_url %>" method= "POST">
  <input
  type="hidden"
  name="authenticity_token"
  value='<%= form_authenticity_token %>'
  />
  Album:
  <br />
  <select name="track[album_id]">
    <% @track.band.albums.each do |album| %>
      <% if album.id == @track.album_id %>
        <option selected="selected" value="<%= album.id %>"> <%= album.title %> </option>
      <% else %>
        <option value="<%= album.id %>"> <%= album.title %> </option>
      <% end %>
    <% end %>
  </select>

  <label for="title"> Title
    <input type="text" name="track[title]">
  </label>

  <label for="ord"> Ord
    <input type="number" name="track[ord]" >
  </label>

  Track Type:
  <div>
    <label for="regular" class="radio"> Regular
      <input type="radio" name="track[track_type]" value="regular" >
    </label>

    <label for="bonus" class="radio"> Bonus
      <input type="radio" name="track[track_type]" value="bonus">
    </label>
  </div>

  Lyrics
  <textarea for="ord" name="track[lyrics]" >
  </textarea>
  <br>
  <br>

  <button>Create Track</button>

</form>
