<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1> Music App </h1>
    <br  />
    <br  />
    <% if logged_in?  %>
    <p>
      You are logged in as: <%=current_user.email%>
    </p>
      <form action="<%= session_url %>" method="POST">
        <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
        <input
          type="hidden"
          name="_method"
          value="delete">
        <button>Sign Out</button>
      </form>
    <% else %>

      <form action="<%= new_user_url %>" method="GET">
        <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
        <button>Sign Up</button>
      </form>
    <% end %>

    <br  />
    <br  />
    <%= yield %>
    <br  />
  </body>
</html>
